$primary: #A7172C;

@mixin Button($color, $backgroundColor) {
    background:$backgroundColor;
    color: $color;
    padding: .7rem;
    border: none;
    border-radius: 100vw;
    font-weight: 100;
    font-size: 1.1rem;

    display: flex;
    justify-content: space-evenly;

    &:hover{
        cursor: pointer;
    }
}


*{
    margin: 0;
    box-sizing: border-box;
    position: relative;
    background-repeat: no-repeat;
    text-transform: capitalize;
    list-style: none;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

header{
    background: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;

    img{
        width: 250px;
        max-width: 100%;
        height: auto;
    }
}

.pageBanner{
    height: 82vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),  rgba(0, 0, 0, 0.3)), url('/Assets/banner.jpg');
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    place-items: center;
    grid-template-columns: minmax(50%, 60%) 1fr;

    .bannerInformation{
        display: grid;
        place-items: center;
        justify-items: start;

        color: #ffffff;
        width: 60%;
        height: 50%;

        h2{
            font-size: 3rem;
        }

        p{
            font-size: 1.5rem;
            font-weight: 600;
        }

        button{
            @include Button(#ffffff, $primary );
            width: 13rem;
            min-width: 15%;
        }
    }
}

.callToAction{
    height: 8vh;
    width: 100%;
    background: $primary;
    color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: space-around;

    p{
        font-size: 1.3rem;

        span{
            text-transform: uppercase;
            font-weight: 800;
        }
    }

    button{
        @include Button(#ffffff, black );
        width: 12rem;
    }
}

.mainContent{
    display: grid;
    align-items: center;
    justify-items: end;
    grid-template-columns: minmax(50%, 60%) 1fr;
    
    height: 80vh;
    font-size: 1rem;
    
    .aboutUsText{
        width: 80%;
        height: 90%;

        display: flex;
        flex-direction: column;

        justify-content: space-evenly;
        align-items: center;
        margin-right: 5rem;

        h4{
            font-size: 2.2rem;
            color: $primary;
        }

        p{
            font-size: 1.3rem;
            line-height: 2rem;
            font-weight: 300;
        }
    }

    .contactUsText{
        display: grid;
        grid-template: auto 1fr auto / 1fr 15% ;

        height: 100%;
        width: 100%;
        padding: 15% 10%;
        background: #EFEFEF;

        h5{
            font-size: 1.8rem;
            grid-column: 1/3;
        }

        ul{
            margin-block-start: unset;
            padding-inline-start: unset;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            font-size: 1.2rem;
            grid-column: 1/2;
            
            i{
                color: $primary;
            }
        }
        
        
        button{
            grid-column: 1/3;
            @include Button(#ffffff, $primary);
            width: 13rem;
        }
    }
}

.aboutUsIcons{
    display: grid;
    place-items: center;
    grid-template-rows: 30% 1fr;

    min-height: 50vh;
    height: min-content;
    background: $primary;
    color: #ffffff;
    
    h5{
        
        font-size: 2.5rem;
    }

    .icons{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 2rem;
        height: 80%;
        width: 80%;
        justify-content: space-evenly;

        .individualIcons{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly; 

            text-align: center;

            i{
                font-size: 4rem;
            }

            span{
                width: 80%;
            }
        }
    }
}

footer{
    height: 10vh;
    background: grey;
    color: #ffffff;

    display: grid;
    place-items: center;
}

@media only screen and (max-width: 1440px) {
    .pageBanner{
        grid-template-columns: minmax(60%, 70%) 1fr;

        .bannerInformation{
            width: 70%;
        }
    }

    .mainContent{
        height: 100vh;

        .aboutUsText{
            h4{
                font-size: 2rem;
            }

            p{
                font-size: 1.1rem;
            }
        }
    }
    
    .aboutUsIcons{
        font-size: 14px;

        h5{
            font-size: 2.2rem;
        }

        .icons{
            grid-template-columns: repeat(4, 1fr);
            height: 100%;
            padding: 0 0 2rem;
            .individualIcons{
                i{
                    font-size: 3.5rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .pageBanner{
        grid-template-columns: auto 1fr;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(/Assets/banner.jpg);

        .bannerInformation{
            width: 80%;
            height: 60%;
        }
    }

    .mainContent{
        justify-items: center;
        height: 900px;

        .aboutUsText{
            margin-right: revert;
        }

        .contactUsText{
            grid-template: auto 1fr auto / 1fr;
        }
    }
    
    .aboutUsIcons{
        height: 70vh;

        .icons{
            grid-template-columns: repeat(3, 1fr);

            .individualIcons{
                flex: 0 1 200px;

                i{
                    font-size: 3.5rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 770px){
    .callToAction{

        p{
            font-size: 1rem;
        }

        button{
            padding: .3rem;
        }
    }

    .mainContent{
        grid-template-columns: 1fr;
        height: max-content;

        .aboutUsText{
            height: 100vh;
        }

        .contactUsText{
            height: 80vh;
            padding: 5%;

            h5{
                text-align: center;
            }

            button{
                justify-self: center;
            }
        }
    }
}

@media only screen and (max-width: 500px){
    .pageBanner{
        background-position: center;
        
        .bannerInformation{
            height: 80%;
            width: 90%;

            h2{
                font-size: 2.5rem;
            }

            p{
                font-size: 1.2rem;
            }
        }
    }

    .callToAction{
        flex-direction: column;
        align-items: center;
        height: 20vh;
        
        p{
            width: 100%;
            text-align: center;
        }
    }

    .mainContent{
        .aboutUsText{
            height: 1200px;

            h4{
                font-size: 1.8rem;
            }

            p{
                font-size: 1rem;
            }
        }
    }

    .aboutUsIcons{
        height: 800px;

        .icons{
            grid-template-columns: repeat(2, 1fr);
            
            .individualIcons{
                height: max-content;
            }
        }
    }
}

@media (orientation: landscape) {
    header{
        min-height: 80px;
    }

    .pageBanner{
        min-height: 600px;
    }

    .callToAction{
        min-height: 40px;
    }

    .aboutUsText{
        min-height: 800px;
    }

    .contactUsText{
        min-height: 500px;
    }

    .aboutUsIcons{
        min-height: 600px;
    }

    footer{
        min-height: 40px;
    }
}